{{#partial "layout" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 navbar-custom" style="font-weight: 500;">
    <div class="container-fluid d-flex flex-row nav-container">
        <div class="d-flex flex-row align-items-center">
            <div class="navbar-logo d-inline-flex flex-row justify-content-center" style="width: 20%;">
                <a href="/home" class="d-flex flex-row justify-content-center" style="width: 100%;"><img style="width: 100%;" src="/logo.png" alt="Logo"></a>
            </div>
            <ul class="navbar-nav d-inline-flex flex-row" style="color: #ffffff; margin-left: 2%;">
                <li class="nav-item">
                    <a class="nav-link" href="/comunidades">Comunidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicios">Servicios</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rankings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item"><a href="/rankings/cantidad-incidentes">Cantidad de incidentes</a></li>
                        <li class="dropdown-item"><a href="/rankings/promedio-cierre">Promedio de cierre</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios">Usuarios</a>
                </li>
            </ul>
        </div>
        <div class="nav-right-div d-flex flex-row justify-content-end">
        <div class="dropdown dropdown-menu-end">
              <a style="color: #ffffff; border: none; font-weight: 500;" class="btn dropdown-toggle dropdown-menu-end" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mi cuenta
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/perfil">Mi perfil</a></li>
                <li>
                    <form method="POST" action="/logout" class="m-0">
                        <button type="submit" class="btn logout-btn">
                            Salir
                        </button>
                    </form>
                </li>
              </ul>
            </div>
        </div>
    </div>
</nav>

<div>
    <main class="main-container" style="min-height: 85.2%;">
     {{#block "principal" }}
     {{/block}}
    </main>
</div>

<div class="footer">
    <div style="margin-right: 0.5em;">ServiceWatch © 2023</div>
</div>

{{/partial}}

{{> layouts/document.html.hbs }}
