{{#partial "layout" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex flex-row nav-container">
        <div>
            <h3 class="d-inline-block logo">Logo</h3>
            <ul class="navbar-nav d-inline-flex flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/comunidades">Comunidades</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rankings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item"><a href="/home/rankings/cantidad-incidentes">Cantidad de incidentes</a></li>
                        <li class="dropdown-item"><a href="/home/rankings/promedio-cierre">Promedio de cierre</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/usuarios">Usuarios</a>
                </li>
            </ul>
        </div>
        <div class="nav-right-div d-flex flex-row justify-content-end">
            <div class="m-2">
                <a href="/incidentes/nuevo" class="red-button">Reportar incidente</a>
            </div>
            <div class="m-2 d-flex flex-column justify-content-center">
                <form method="POST" action="/logout" class="m-0">
                    <button type="submit" class="btn btn-link">
                        <i class="fa-solid fa-arrow-right-from-bracket m-2"></i>
                        Salir
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>

<div>
    <main class="main-container">
     {{#block "principal" }}
     {{/block}}
    </main>
</div>
{{/partial}}

{{> layouts/document.html.hbs }}
