{{#partial "principal" }}
    <h2>Agregar usuario</h2>
    <form method="POST" action="/usuarios">
        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="usuario" name="usuario" placeholder="Alias">
            <label for="usuario">Alias</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control"
                   id="contrasenia" name="contrasenia" placeholder="Contrase침a">
            <label for="contrasenia">Contrase침a</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="nombre" name="nombre" placeholder="Nombre">
            <label for="nombre">Nombre</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="apellido" name="apellido" placeholder="Apellido">
            <label for="apellido">Apellido</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control"
                   id="correo_electronico" name="correo_electronico" placeholder="Correo electr칩nico">
            <label for="correo_electronico">Correo electr칩nico</label>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch"
                   id="es_admin" name="es_admin">
            <label class="form-check-label" for="es_admin">Admin</label>
        </div>

        <div class="d-grid">
            <button class="btn btn-primary fw-bold" type="submit">Agregar</button>
        </div>
    </form>
{{/partial}}

{{> layouts/logged.html.hbs }}