/* Navegación */

a {
    color: #131313;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.nav-container {
    margin: 0;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav > li {
    margin-right: 0.5em !important;
}

a.nav-link {
    color: #ffffff !important;
    //font-size: 18px;
    //font-weight: 500;
    //font-family: Arial;
}

.nav-bar-list {
  list-style-type: none;
}

.red-button {
    display: inline-block;
    color: #FFFFFF;
    background-color: #FD4444;
    border-radius: 0.4em;
    padding: 0.6em;
    text-decoration: none;
}

.red-button:hover {
    color: #FFFFFF;
}

.logo {
    margin-right: 2rem;
}

.top-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #EDE6E6;
    height: 10%;
    width: 100%;
    padding: 0 2% 0 0;
    font-size: 0.9rem;
}

.main-container {
    padding: 2%;
}

.footer {
    background-color: #131a26;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-weight: 700;
    display:flex;
    flex-direction:row;
    justify-content:end;
}

/* Incidentes */

.card-incidente {
    padding: 2% 2% 1% 2%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    margin: 0 2% 2% 2%;
    width: 28%;
    border-top: 1px solid rgba(211, 211, 211, 0.5);
    border-radius: 2%;
}

.card-comunidad {
    padding: 2% 2% 1% 2%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    margin: 0 2% 2% 2%;
    width: 20%;
    border-top: 1px solid rgba(211, 211, 211, 0.5);
    border-radius: 2%;
}

.blue-button {
    border: none;
    background-color: #0d6efd;
    color: #ffffff;
}

.grey-button {
    color: #fff;
    border: none;
    border-radius: 2em;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-right: 1em;
    background-color: #9c9695;
    font-weight: 500;
}

.green-button {
    background-color: #3bd671;
    color: #fff;
    border: none;
    border-radius: 2em;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-right: 1em;
    font-weight: 500;
}

.green-button:hover {
    background-color: #3bd671;
}

.mt-1 {
    margin-top: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mr-2 {
    margin-right: 2rem;
}

.text-area {
    height: 70px;
    overflow: hidden;
    font-size: 0.9em;
}

.card-red-button {
    display: inline-block;
    color: #FFFFFF;
    background-color: #FD4444;
    text-decoration: none;
    border: none;
}

.card-servicio {
    padding: 2% 2% 1% 2%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    margin: 0 2% 2% 2%;
    width: 28%;
    border-top: 1px solid rgba(211, 211, 211, 0.5);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-servicio > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.red-status {
    background-color: #FFAB91;
    color: red;
    width: min-content;
    font-weight: 700;
    font-size: 0.8em;
    display: inline-block;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
}

.blue-status {
    background-color: #d3dde6;
    color: #0d6efd;
    width: min-content;
    font-weight: 700;
    font-size: 0.8em;
    display: inline-block;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
}

.btn-login {
    background-color: #3bd671;
    color: #fff;
    border: none;
    border-radius: 2em;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    font-weight:700;
    margin-right: 1em;
}

.btn-login:hover {
    background-color: #3bd671;
}

.navbar-custom {
    background-color: #131a26 !important;
    height: 8%;
}

.selected-filter {
    padding: 0.7% 2%;
    background-color: #131a26;
    border-radius: 2em;
    color: white;
    font-weight: 500;
}

.selected-filter:hover {
    color: white;
}

.filter {
    padding: 0.7% 2%;
    border: #131a26 1px solid;
    border-radius: 2em;
    font-weight: 500;
    color: #131a26;
}

.filter:hover {
    color: #131a26;
}