{{#partial "principal"}}
    <div class="d-flex justify-content-between p-3 mx-5 mb-4">
        <h1 class="ms-4">Comunidades</h1>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {{#each comunidades}}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="card-title d-flex justify-content-between fw-semibold">
                            <div>
                                <h5>{{nombre}}</h5>
                            </div>
                            <div>
                                <h5><i class="fa-solid fa-users"></i> {{miembros.length}}</h5>
                            </div>
                            </div>
                            <p class="card-text">Esta comunidad tiene {{incidentesAbiertos.length}} incidentes abiertos.</p>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-primary card-green-button">
                                    Ver incidentes 
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/partial}}

{{> layouts/logged.html.hbs }}
