{{#partial "principal" }}

<script src="/serviciosScript.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const closeButton = document.querySelector('[data-bs-target="#reportarIncidenteModal"]');
    const form = document.querySelector('#reportarIncidenteModal form');

    document.addEventListener('click', function (event) {
      if (event.target && event.target.getAttribute('data-servicio-id')) {
        const servicioId = event.target.getAttribute('data-servicio-id');

        form.action = `incidentes/nuevo?servicio=${servicioId}&from=servicios`;
      }
    });
});
</script>

<div>
    <h3 class="mr-4" style="margin-left: 6.5%">Servicios</h3>
    <div class="d-flex flex-row flex-wrap" style="margin-left: 5%">
    {{#servicios}}
        <div class="card-servicio">
            <div class="d-flex flex-row align-items-center">
                <h5 style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap;">{{descripcion}}</h5>
                <button type="button" style="background-color: transparent; border: none; margin-bottom: 0.3em; margin-left: 5%;" data-bs-toggle="modal" data-bs-target="#reportarIncidenteModal" data-servicio-id="{{id}}"
                    class="icon-button">
                    <!--<i class="lni lni-warning display-icon"
                    style="color: #f33b3b;" title="Reportar incidente"></i>-->
                    <i class="fa-solid fa-circle-exclamation display-icon"
                                        style="color: white;
                                        text-shadow: #f33b3b 0px 0px 1px, #f33b3b 0px 0px 1px, #f33b3b 0px 0px 1px,
                                                     #f33b3b 0px 0px 1px, #f33b3b 0px 0px 1px, #f33b3b 0px 0px 1px,
                                                     #f33b3b 0px 0px 1px, #f33b3b 0px 0px 1px, #f33b3b 0px 0px 1px,
                                                     #f33b3b 0px 0px 1px;" title="Reportar incidente"></i>
                    <i class="fa-solid fa-circle-exclamation hover-icon"
                    style="display: none; color: #f33b3b;" title="Reportar incidente"></i>
                </button>
            </div>
            <div>
                <h6>{{establecimiento.nombre}}</h6>
            </div>
        </div>
    {{/servicios}}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reportarIncidenteModal" tabindex="-1" role="dialog" aria-labelledby="reportarIncidenteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportarIncidenteModalLabel">Reportar incidente</h5>
      </div>
      <form method="POST" class="m-0">
      <div class="modal-body">
        <span>Observaciones</span>
        <div class="mt-2">
            <textarea name="observaciones" style="width: 100%; padding: 1em; border-color: #9c9695; border-radius: 2px;"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="grey-button" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="card-red-button">Reportar</button>
      </div>
      </form>
    </div>
  </div>
</div>

{{/partial}}

{{> layouts/logged.html.hbs }}