<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
    <div>
    	<main>
         {{#block "principal" }}
         {{/block}}
    	</main>
    </div>
</body>

</html>

